<!DOCTYPE html> {% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>My site</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
    {% block appl %}
    <div id="container">
        <div class="greeting">
            <div class="greeting_title">
                Hey, I'm Denis,
            </div>
            <div class="greeting_title">
                full-stack developer working in the land of Israel
            </div>
            <div class="write_to_me">
                write to me
            </div>
        </div>
        <div class="menu">
            <div class="submenu">
                <div>About</div>
                <div class="submenu_content">
                    {% for a in about %}
                        {{ a.first_name }}
                        {{ a.last_name }}
                    {% endfor %}
                    {% for skill in skills %}
                        {{ skill }}
                    {% endfor %}
                </div>
            </div>
            <div class="submenu">
                <a href="/works">Works</a>
                <div class="submenu_content">
                    {% for work in works %}
                        {{ work }}
                    {% endfor %}
                </div>
            </div>
            <div class="submenu">
                <a href="/knowledge_area">Knowledge area</a>
                <div class="submenu_content"></div>
            </div>
        </div>
    </div>
    {% endblock %}
</body>

</html>