<!DOCTYPE html> {% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>My site</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
{% block appl %}
    <div id="container">
        <div class="greeting">
            <div class="greeting_title">
                Hey, I'm Denis,
            </div>
            <div class="greeting_title">
                full-stack developer working in the land of Israel
            </div>
            <div class="write_to_me">
                write to me
            </div>
        </div>
        <div class="menu">
            <div class="submenu">
                <div class="sub_title">About myself</div>
                <div class="submenu_content">
                    <p class="text">Hey what's up? Full name's {{ about.first_name }} {{ about.last_name }} but everyone
                        calls me Den.
                        I'm a developer born & raised in SSSR, but currently working in Tel Aviv at Israel</p>
                    <p>
                    <p class="text">
                        Fluent in <em>HTML5</em> <em>CSS3</em> <em>Sass</em> and improving on my JavaScript every day.
                        I know my way around <em>Python</em> with <em>Django</em> and I've recently started
                        experimenting
                        with REST APIs using <em>React</em>.
                    </p>
                    <a href="/about">More detailed</a>
                </div>
            </div>
            <div class="submenu">
                <div class="sub_title">Experience</div>
                <div class="submenu_content">
                    {% for work in works %}
                        <p class="text">
                            {{ work.company }}. Position {{ work.position }}. My duties: {{ work.duties }}
                        </p>
                    {% endfor %}
                    <a href="/works">Works in detailed</a>
                </div>
            </div>
            <div class="submenu">
                <div class="sub_title">Study</div>
                <div class="submenu_content">
                    {% for study in studies %}
                        <p class="text">
                            {{ study.school_name }} Course: {{ study.course_name }}
                        </p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
</body>

</html>